module.exports = {
    env: 'DEBUG', //Debug 版本号为@dev 代码无压缩 非Debug 版本号为@时间戳 代码压缩
    version: true,//!DEBUG,
    // 此功能需要安装chrome插件 https://chrome.google.com/webstore/detail/livereload/jnihajbhpnppcggbcgedagnkighmdlei
    livereload: true,//DEBUG,
    minify: false,//!DEBUG,
    // 本地导出目录
    exports: 'src/export',
    tmp: 'src/tmp',
    // 需要上传到服务器的时候启用 且值为远程服务器地址 gulp sync
    remote: {
        flag: 'az', //详细请再命令行rsync -h : shell(value): --rsh=SHELL; delete(): --delete;  progress(): --progress;  archive(): -a;  compress(): -z;  recursive(): -r;  update(): -u;  quiet(): -q;  dirs(): -d;  links(): -l;  dry(): -n;          
        source: 'src/export/*',
        dest: '192.168.1.15:/home/shalles/workspace/www/src.shalles.org',
    },
    // 视图页面的目录和导出目录
    views: {
        jade: false,
        src: 'src/views/**/*',
        exp: 'src/export/pages'
    },
    // 脚本的目录和导出目录 支持coffee
    scripts: {
        coffee: false, //使用coffee开发时设为true
        src: 'src/scripts/',
        exp: 'src/export/js'
    },
    styles: {
        scss: true,  //使用scss开发时设为ture
        src: 'src/styles/',
        exp: 'src/export/css'
    },
    images: {
        min: false,  //需要压缩图片是设为true
        src: 'src/images/**/*',
        exp: 'src/export/images'
    }
}