<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Velocity Template Mock</title>
</head>
<body>
    <h2>Velocity Template Mock</h2>
    <div>name: <span>$!{name}</span></div>
    <div>age: <span>$age</span></div>
    #if($show)
        <div>$show</div>
    #end
</body>
</html>